p{
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    font-weight: 100;
    text-decoration: underline;
    font-size: 50px;
    line-height: 2;
    text-decoration-color: aqua;
    text-decoration-style: dotted;
    text-indent: 45px;
}
h1{
    text-transform: capitalize;
}
.lorem{
    border: 4px solid brown;
    width: 105px;
    text-overflow: ellipsis;
    overflow: hidden;
}